@import "tailwindcss";

@theme {
  --color-spotify-green: #1DB954;
}

body {
  background-color: #121212;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  color-scheme: dark;
}
